.container.testimonial__container {
    width: 50%;
    padding-bottom: 4rem;

    .cliant__avater {
        width: 5rem;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 50%;
        border: 0.4rem solid var(--color-primary);
        margin: 0 auto;

        img {
            height: 100%;
            margin: 0 auto;        
        }
    }

    .testimonial{
        background: var(--primary-color-light);
        text-align: center;
        padding: 2rem;
        border-radius: 2rem;
        user-select: none;
        min-height: 35vh;

        .cliant__name {
            font-size: 1.1rem;
        }


        .cliant__review {
            color: var(--color-white);
            display: block;
            font-weight: 300;
            width: 80%;
            margin: 0.8rem auto 0;
        }
    }

    .swiper-button-prev {
        color: var(--color-primary);
    }

    .swiper-button-next {
        color: var(--color-primary);
    }

    .swiper-pagination-bullet {
        background: var(--color-primary);
    }
}



// @media screen and (min-width: 2160px) {

// }


@media screen and (max-width: 1024px) {
    .container.testimonial__container {
        width: 70%;

    }
}

@media screen and (max-width: 600px) {
    .container.testimonial__container {
        width: var(--container-width-sm);
    }

    .cliant__review {
        width: var(--container-width-sm);
    }

}