@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
	--container-width-lg: 75%;
	--container-width-md: 86%;
	--container-width-sm: 90%;
	--container-width-xl: 60%;

	--transition: all 400ms ease;
}

