@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import './btn';

:root {
	--color-bg: #000B11;
	// --color-bg: #fff;
	--color-bg-variant: #1c1c1c;
	--color-primary: rgb(0, 137, 123);
	--primary-color-light: rgba(0, 88, 80, 0.65);
	--primary-color-variant: rgba(0, 88, 80, 0.2);
	--color-white: rgb(255, 255, 255);
	--color-light: rgba(255, 255, 255, 0.75);
	

	--container-width-lg: 75%;
	--container-width-md: 86%;
	--container-width-sm: 90%;
	--container-width-xl: 60%;

	--transition: all 400ms ease;
}

